<div class="app-timers">
  <h1>Timers</h1>

  <div class="tool-panel">
    <button
      mat-button
      color="primary"
      (click)="addTimer()">
      Add Timer
    </button>

    <button
      mat-button
      color="primary"
      (click)="saveTimers()">
      Save timers
    </button>
  </div>

  <div class="timers-list">
    <div
      class="timer"
      *ngFor="let timer of timers; let index = index"
      [ngClass]="{ 'timer-is-done': timer.isDone }">
      <mat-form-field
        class="timer-label-form"
        appearance="outline">
        <mat-label>Label</mat-label>

        <input
          matInput
          [(ngModel)]="timer.label" />
      </mat-form-field>

      <mat-form-field
        class="timer-minute-form"
        appearance="outline">
        <mat-label>Minutes</mat-label>

        <input
          matInput
          [(ngModel)]="timer.countOfMinute" />
      </mat-form-field>

      <button
        mat-button
        color="primary"
        (click)="switchTimer(timer)">
        {{ timer.isRun ? 'Stop' : 'Start' }}
      </button>

      <button
        mat-button
        color="warn"
        (click)="deleteTimer(index)">
        Delete
      </button>

      <div class="minute">{{ getMinutes(timer.restOfSecond) }} m</div>

      <div class="seconds">{{ timer.restOfSecond % 60 }} s</div>
    </div>
  </div>
</div>
