<div class="app-timers">
  <h1>Timers</h1>
  <div class="tool-panel">
    <div class="add-timer">
      <button mat-button color="primary" (click)="addTimer()">Add Timer</button>
    </div>
    <div class="add-timer">
      <button mat-button color="primary" (click)="saveTimers()">Save timers</button>
    </div>
  </div>
  <div class="timers-list">
    <div
      class="timer"
      *ngFor="let timer of timers; let index = index"
      [ngClass]="{ 'timer-is-done': timer.isDone }"
    >
      <mat-form-field class="timer-label-form">
        <mat-label>Label</mat-label>
        <input matInput [(ngModel)]="timer.label" />
      </mat-form-field>
      <mat-form-field class="timer-minute-form">
        <mat-label>countOfMinute</mat-label>
        <input matInput [(ngModel)]="timer.countOfMinute" />
      </mat-form-field>
      <button mat-button color="primary" (click)="startStopTimer(timer)">
        <span *ngIf="!timer.isRun">Start</span>
        <span *ngIf="timer.isRun">Stop</span>
      </button>
      <button mat-button color="warn" (click)="deleteTimer(index)">Delete</button>
      <div class="minute">{{ getMinute(timer.restOfSecond) }} m</div>
      <div class="seconds">{{ timer.restOfSecond % 60 }} s</div>
    </div>
  </div>
</div>
