:host {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.mat-column-label {
  min-width: 200px;
}

.mat-column-minutes {
  text-align: center;
}

.mat-column-time {
  width: 100px;
}

.seconds {
  margin-left: 8px;
}

.tool-panel {
  display: flex;
  margin-bottom: 8px;
}
