:host {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.minutes {
  margin-left: 16px;
}

.tool-panel {
  display: flex;
}

.timer {
  display: flex;
  align-items: baseline;

  mat-form-field {
    margin: 1rem;
  }

  .minute,
  .seconds {
    height: fit-content;
    margin: 0.5rem;
  }
}
