<div class="app-timers">
  <h1>Timers</h1>

  <div class="tool-panel">
    <button
      mat-button
      color="primary"
      (click)="addTimer()">
      Add Timer
    </button>
  </div>

  <div class="timers-list">
    <div
      class="timer"
      *ngFor="let timer of timers; let index = index"
     >
      <mat-form-field
        class="timer-label-form"
        appearance="outline">
        <mat-label>Label</mat-label>

        <input
          matInput
          [(ngModel)]="timer.label" />
      </mat-form-field>

      <mat-form-field
        class="timer-minute-form"
        appearance="outline">
        <mat-label>Minutes</mat-label>

        <input
          matInput
          [(ngModel)]="timer.minutes" />
      </mat-form-field>

      <button
        mat-button
        color="primary"
        (click)="switchTimer(timer)">
        {{ 'Stop' + 'Start' }}
      </button>

      <button
        mat-button
        color="warn"
        (click)="deleteTimer(index)">
        Delete
      </button>

      <div class="minute"> m</div>

      <div class="seconds"> s</div>
    </div>
  </div>
</div>
