<div class="new-task-container">
  <div class="title-field">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <textarea matInput [(ngModel)]="task.title" name="edit-task-title"></textarea>
    </mat-form-field>
  </div>
  <div class="add-task-button">
    <button mat-button color="primary" (click)="editTask()" [disabled]="!itIsReady()">
      <span *ngIf="task.id == 0">Add task</span>
      <span *ngIf="task.id != 0">Edit task</span>
    </button>
  </div>
  <div class="category">
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="task.category" name="edit-task-category">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="date-field">
    <div class="date-inner-field">
      <mat-form-field appearance="fill">
        <mat-label>Task Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="selectedDate"
          [disabled]="noDateCheckbox"
          name="edit-task-date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="no-date-checkbox">
      <mat-checkbox [(ngModel)]="noDateCheckbox" name="edit-task-checkbox">
        Without date</mat-checkbox
      >
    </div>
  </div>
  <div class="description-field">
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="task.description" name="edit-task-description"></textarea>
    </mat-form-field>
  </div>
</div>
