:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  background-color: antiquewhite;
  padding: 1rem;

  ::ng-deep .mat-form-field {
    width: 100%;
  }
}

.task-toolbar {
  text-align: center;
}
