.new-task-container {
  max-width: 800px;
  margin: auto;
  background-color: antiquewhite;
  padding: 1rem;

  ::ng-deep .mat-form-field {
    width: 100%;
  }
}

.task-buttons {
  text-align: center;
}
