<div class="new-task-container">
  <mat-form-field class="title-field">
    <mat-label>Title</mat-label>
    <textarea matInput [(ngModel)]="task.title" name="edit-task-title"></textarea>
  </mat-form-field>
  <div class="task-toolbar">
    <mat-checkbox class="priority-checkbox" [(ngModel)]="task.highPriority"
      >priority-checkbox</mat-checkbox
    >
    <button mat-button color="primary" (click)="editTask()" [disabled]="!itIsReady()">
      <span *ngIf="task.id == 0">Add task</span>
      <span *ngIf="task.id != 0">Edit task</span>
    </button>
    <button mat-button color="warn" (click)="deleteTask()" *ngIf="task.id">Delete task</button>
    <button
      mat-button
      color="primary"
      (click)="nextRound()"
      *ngIf="task.id"
      [disabled]="!task.periodTimestamp"
    >
      Next Round
    </button>
  </div>
  <mat-form-field class="tags-input">
    <mat-label>Tags</mat-label>
    <input matInput placeholder="tag1 tag2 tag3 tag4" name="tags" [(ngModel)]="task.tags" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="date-field">
    <mat-label>Task Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" name="edit-task-date" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill" class="next-date-field">
    <mat-label>Next Task Date</mat-label>
    <input
      matInput
      [matDatepicker]="picker2"
      [(ngModel)]="nextDate"
      (dateChange)="setPeriodTimestamp()"
      name="next-task-date"
    />
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="description-field">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="task.description" name="edit-task-description"></textarea>
  </mat-form-field>
</div>
