.task-card {
  cursor: pointer;
}

.overdue-task {
  color: red;
}

.near-tasks {
  color: #ccc;
}

.distant-tasks {
  color: #eee;
}

.current-task {
  font-weight: bold;
}

mat-card {
  border-radius: 0;
  margin: 4px;
  padding: 4px;
}

.high-priority {
  outline: red solid 2px;
}
