<div class="root">
  <div class="header">
    <mat-toolbar>
      <div class="header-line">
        <div class="title head-menu-item">Angular Organizer v1.4</div>

        <div class="head-menu">
          <div class="head-menu-item">
            <a
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">
              Tasks
            </a>
          </div>

          <div class="head-menu-item">
            <a
              routerLink="/edit-task"
              routerLinkActive="active">
              Add new task
            </a>
          </div>

          <div class="head-menu-item">
            <a
              routerLink="/timers"
              routerLinkActive="active">
              Timers
            </a>
          </div>

          <div class="head-menu-item">
            <a
              routerLink="/settings"
              routerLinkActive="active">
              Settings
            </a>
          </div>

          <div class="head-menu-item">
            <button
              mat-button
              color="primary"
              (click)="export()">
              ExportToJSON
            </button>
          </div>
        </div>
      </div>
    </mat-toolbar>
  </div>

  <div class="main">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <mat-toolbar>
      <div class="footer-line">
        <a
          routerLink="/about"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          About
        </a>
      </div>
    </mat-toolbar>
  </div>
</div>
