.priority-component {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.priority-list {
  max-width: 100%;
  border: solid 1px #ccc;
  display: block;
  background: white;
}

.priority-item {
  padding: 0.5rem;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.priority-item:last-child {
  border: none;
}

.priority-content {
  display: flex;
  width: 100%;

  .priority-title {
    width: 100%;
  }

  .delete-button {
    opacity: 0;
    width: fit-content;
    align-content: flex-start;
  }
}

.priority-content:hover .delete-button {
  opacity: 100;
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.priority-list.cdk-drop-list-dragging .priority-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-mdc-button,
.mat-mdc-icon-button,
.mat-mdc-outlined-button,
.mat-mdc-unelevated-button {
  line-height: unset;
}

.mat-mdc-icon-button {
  height: unset;
}

.add-button {
  margin: 1rem;
}
